// Variable 
$primary-color: #00ffffb6;
$primary-sec-color: #00ffff60;
$secondary-color: #F05B6F;
$secondary-sec-color: #f05b6fc5;
$third-color: #F7941E;
$addition-color: #9B9DA1;
$marcury-color: #669999;

// Button 
.btn {
    border: none;
    cursor: pointer;
    outline: none;
    width: 150px;
    border-radius: 10px;
    margin: 0 auto;
    padding: .6rem 1rem;
    font-family: 'Dosis', sans-serif;
    transition: all .5s ease;

    a {
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        letter-spacing: 1px;
    }
}
.btn-blue {
    background: $primary-color;
    transition: all .5s ease;

    &:hover {
        background: $primary-sec-color;
        color: $primary-color;
        transform: translateY(-3px);
    }
    &:active {
        transform: translateY(0);
    }
}
// Text Color
.text-color {
    color: $primary-color;
}

// Media Query Mixin

@mixin mediaSm {
    @media screen and (max-width: 499px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px)
    and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}