// Start at Small Secreen
@include mediaSm {
    body {
        overflow-x: hidden;
    }
    #bg-img {
        height: 50vh;
    }
    //FIX Burger & Nav
    .burger-menu {
        position: fixed;
        right: 25%;
    }
    .navbar {
        height: 80vh;
        top:0;
        width: 50%;
        right: -250px;
        position: fixed;
        display: flex;
        justify-content:center;
        align-items: center;
        border-radius: 5% 0 0 5%;
        transition: right 1s cubic-bezier(0,1,0,0);
        z-index: 5;
    
    }
    .change {
        right: 20%;
    }
    .nav-links {
        right: -40px;
        padding: 3px 0;
    }
    // SECTION 1
    section.sec-bg.sec-1 {

        .text-content {
            .btn {
                width: 90%;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        .planet-pink {
            img {
                top: 3%;
                display: block;
                width: 30%;
            }
        }
    }
    // SECTION 2
    section.sec-2 {

        .halo-big {

            .ship {
                width: 25%;
                top: 20%;
                right: 10%;
            }
        }
    }
    // SECTION 3
    section.sec-bg.sec-3 {
        position: relative;
        height: 50vh;
    
        .dark-layer {
            text-align: center;
            margin: 0 auto;
            .dark { 
                width: 100%;
                height: 30vh;
            }
            .earth {
                display: block;
                position: absolute;
                top: 30%;
                right: 10%;
                width: 25%;
            }
            .rockfire {
                display: block;
                position: absolute;
                top: 0;
                left: 5%;
                width: 18%;
            }
        }
        .text-content2 {
            width: 100%;
            text-align: center;
            margin: 3rem auto;

            h2 {
                width: 80%;
                margin: 0 auto;
            }
            p{
                width: 80%;
                margin: auto;
            }
        }
       
    }
    // SECTION 4
    section.sec-4 {
        .planets {
            padding-top: 1rem ;
            img{
                &.all-planets {
                    width: 30%;
                    margin-bottom: .5rem;
                }
            }
            span {
                margin-bottom: 1rem;
            }
        }
        .two-btn {
            .btn {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
    // SECTION 5
    section.sec-5 {
        #last {
            display: block;
            height: 0vh;
            img {
                width: 100%;
            }
        }
    } 
    // FOOTER
    footer {
        #footer-sec {
            position: relative;

            img {

                &.ship-space {
                    top: 72%;
                    left: 9%;
                    width: 30%;

                }
                &.astro-man {
                    right: 5%;
                    top: 55%;
                    width: 30%;
                }
                &.cloud {
                    top: 90%;
                    left: 4%;
                    width: 20%;
                    z-index: 1;
                    transform: rotate(9deg);
                }
            }
        }
        #footer-text {
            width: 60%;
        }
    }
}

// Media AT large Screen 
@include mediaLg {
    #bg-img {
        height: 75vh;
    }
    header {
        #logo {
            img {
                margin-left: 1rem;
            }
        }
    }
    .navbar {
      width: 35%;
    
    }
    .change {
        right: 0%;
    }

    main {
        .main-text {
            h1 {
                font-size: 3rem;
                font-weight: bolder;
            }
            p {
                font-size: 1.2rem;
            }
        }
        .ship {
            img {
                width: 200px;
                top: 70%;
                left: 8%;
                cursor: pointer;
                transition: ease-in-out 1.5s;

                &:hover {
                    transform: rotate(20deg);
                    transition: ease 1.5s;
                }
            }
        }
    }
    // SECTION 1
    section.sec-bg.sec-1 {
        .planet-pink {
            img{
                width: 120px;
                right: 270px;
                cursor: pointer;
                transition: ease-in-out 1.5s;

                &:hover {
                    transform: rotate(-25deg);
                    transition: ease 1.5s;
                }
            }
        }
        .text-content {
            h2 {
                margin-top: 2.5rem;
                font-size: 2rem;
            }

            p {
                font-size: 1.2rem;
                width: 80%;
                margin-bottom: 2rem;
            }
            .btn {
                margin: 0;
                font-size: 1.2rem;
                letter-spacing: 1px;

            }
        }
        .man-planet {

            img {
                width: 350px;
                left: 0%;
            }
        }
    }
    // SECTION 2 
    section.sec-2 {
        .halo-big {
            .halo {
                top: 10%;
                right: -10%;
            }
        
        }
        .ship {
            cursor: pointer;
            transition: ease-in-out 1.5s;

            &:hover {
                transform: rotate(20deg);
                transition: ease 1.5s;
            }
        }
    }
    // SECTION 3
    section.sec-bg.sec-3 {
        height: 70vh;
        .dark-layer {
            .dark {
                height: 50vh;
            }
            .earth {
                width: 150px;
                top: 35%;
                right: 15%;
            }
            .rockfire {
                top: 10%;
                left: 5%;
            }
        }
        .text-content2 {
            margin: 1rem;
            
            h2 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.2rem;
            }
        }

    }
    // SECTION 4 
    section.sec-4 {
        height: 800px;
        .planets {
            padding-top: 3rem;
            display: flex;

            span {
                display:inline;
                flex-direction: column;
            }

            .all-planets {
                transition: all 1s ease;
                &:hover {
                    transform: rotate(5deg);
                    transition: ease-out 1s;
                    width: 76%;
                }
            }
        }

        .two-btn {
            display: flex;
            flex-direction: row;
            padding: 1rem;
            width: 50%;
            height: 50px;
            margin: 3rem auto;
    
            .btn {
                display: block;
                padding: 0;
                margin-right: .5rem;
                font-size: 1.2rem;
            }
        }
    }
    // FOOTER 
    footer {
        #footer-sec {
            height: 50vh;
            img {


                &.dark-back {
                    width: 100%;
                    bottom: -20%;
                    height: 70vh;
                }
            
                &.ship-space {
                    top: 20%;
                    left: 10%;
                    width: 250px;
                    z-index: 1;
                    cursor: pointer;
                    transition: ease-in-out 1.5s;

                    &:hover {
                        transform: translateY(5px);
                        transition: ease .5s;
                    }
                    &:active {
                        transform: translatey(-15px);

                    }
                
                }
                &.astro-man {
                    right: 5%;
                    top: -10%;
                    width: 200px;
                    cursor: pointer;
                }
                &.cloud {
                    top: 65%;
                    left: 7%;
                    width: 130px;
                    z-index: 1;
                    transform: rotate(15deg);
                }
            }


        }
    }

}

// Media AT EXTRA-large Screen 
@include mediaXl {
    #bg-img {
        height: 110vh;
    }
    header {
        #logo {
       
            img {
                margin-left: 2rem;
            }
        }
    }
    .navbar {
      width: 25%;
    
    }
    .change {
        right: 0%;
    }
    .nav-links {
        right: -95%;
    }

    main {
        .main-text {
            margin-top: 10%;
            h1 {
                font-size: 4.2rem;
                font-weight: bolder;
                letter-spacing: .8rem;
            }
            p {
                font-size: 1.4rem;
            }
        }
        .ship {
            img {
                width: 250px;
                top: 70%;
                left: 20%;
                cursor: pointer;
                transition: ease-in-out 1.5s;

                &:hover {
                    transform: rotate(20deg);
                    transition: ease 1.5s;
                }
            }
        }
    }
    // SECTION 1
    section.sec-bg.sec-1 {
        .planet-pink {
            img{
                width: 220px;
                right: 18%;
                cursor: pointer;
                transition: ease-in-out 1.5s;

                &:hover {
                    transform: rotate(-25deg);
                    transition: ease 1.5s;
                }
            }
        }
        .text-content {
            margin-top: 10%;
            text-align: center;
            h2 {
                margin-top: 2.5rem;
                font-size: 2.5rem;
            }

            p {
                text-align: center;
                font-size: 1.3rem;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2rem;
            }
            .btn {
                margin: 0;
                font-size: 1.3rem;
                width: 35%;
                letter-spacing: 2px;
                padding: 1rem 2rem;

            }
        }
        .man-planet {

            img {
                width: 450px;
                left: 5%;
                cursor: pointer;
                transition: all 1.5s ;

                &:hover {
                    transform: rotate(-5deg);
                    transition: 1s ease-out;
                }
            }
        }
    }
    // SECTION 2 
    section.sec-2 {
        height: 90vh;
        .halo-big {
            .halo {
                top: 5%;
                width: 30%;
                right: -18%;
                
            }
            .ship {
                cursor: pointer;
                width: 150px;
                top: 40%;
                right: 5%;
                transition: ease-in-out 1.5s;
    
                &:hover {
                    transform: rotate(20deg);
                    transition: ease 1.5s;
                }
        }
        }
    }
    // SECTION 3
    section.sec-bg.sec-3 {
        height: 80vh;
        .dark-layer {
            .dark {
                height: 60vh;
                z-index:2 ;
            }
            .earth {
                width: 200px;
                top: 35%;
                right: 15%;
            }
            .rockfire {
                top: 10%;
                left: 5%;
            }
        }
        .text-content2 {
            margin: 1rem;
            
            h2 {
                font-size: 3rem;
            }
            p {
                font-size: 1.3rem;
            }
        }

    }
    // SECTION 4 
    section.sec-4 {
        height: 800px;
        .planets {
            padding-top: 3rem;
            display: flex;

            span {
                display:inline;
                flex-direction: column;
            }

            .all-planets {
                transition: all 1s ease;
                &:hover {
                    transform: rotate(5deg);
                    transition: ease-out 1s;
                    width: 60%;
                }
            }
        }

        .two-btn {
            display: flex;
            flex-direction: row;
            padding: 0;
            width: 40%;
            height: 50px;
            margin: 3rem auto;
    
            .btn {
                display: block;
                width: 50%;
                font-size: 1.3rem;
                letter-spacing: 3px;
                margin: 0 .5rem;
                
            }
        }
    }
    section.sec-5 {
        border: solid;
        display: none;
        height: 50vh;
    }
    // FOOTER 
    footer {
        height: 50vh;
        #footer-sec {
            height: 50vh;
            img {


                &.dark-back {
                    width: 100%;
                    bottom: -20%;
                    height: 70vh;
                }
            
                &.ship-space {
                    top: 25%;
                    left: 9%;
                    width: 250px;
                    z-index: 1;
                    cursor: pointer;
                    transition: ease-in-out 1.5s;

                    &:hover {
                        transform: translateY(5px);
                        transition: ease .5s;
                    }
                    &:active {
                        transform: translatey(-15px);

                    }
                
                }
                &.astro-man {
                    right: 5%;
                    top: -10%;
                    width: 200px;
                    cursor: pointer;
                }
                &.cloud {
                    top: 70%;
                    left: 7%;
                    width: 130px;
                    z-index: 1;
                    transform: rotate(15deg);
                }
            }
        }
        #footer-text {
            top: 100%;
            margin-top: 2%;
        }
    }

}
