* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
}

#bg-img {
  width: 100%;
  height: 50vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.055)), to(rgba(13, 116, 184, 0.034))), url(/Img/spaceground.jpg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.055), rgba(13, 116, 184, 0.034)), url(/Img/spaceground.jpg) center no-repeat;
  background-size: cover;
}

header {
  height: 9vh;
}

header #logo img {
  width: 120px;
  padding: 0;
  margin: .5rem;
}

.burger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: rgba(42, 53, 63, 0.986);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  border-radius: 30px;
}

.change .line-1 {
  -webkit-transform: rotateZ(45deg) translate(6px, 8px);
          transform: rotateZ(45deg) translate(6px, 8px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  -webkit-transform: rotateZ(-405deg) translate(6px, -8px);
          transform: rotateZ(-405deg) translate(6px, -8px);
}

.navbar {
  background: #2e436be8;
  height: 100vh;
  top: 0;
  width: 50%;
  right: -250px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5% 0 0 5%;
  -webkit-transition: right 1s cubic-bezier(0, 1, 0, 0);
  transition: right 1s cubic-bezier(0, 1, 0, 0);
  z-index: 2;
}

.change {
  right: 0%;
}

.nav-list {
  text-align: right;
}

.item {
  list-style: none;
  margin-bottom: 25px;
}

.nav-links {
  text-decoration: none;
  color: #eeeeee;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  right: -50px;
  padding: 3px 0;
}

/**  Before &&  After Effect Lines **/
.nav-links::before,
.nav-links::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: cyan;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav-links::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-links::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-links:hover::before,
.nav-links:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main {
  text-align: center;
  position: relative;
  height: 40vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-text {
  margin-top: 5%;
}

main .main-text h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: .5rem;
  text-transform: uppercase;
  color: #00ffffb6;
}

main .main-text p {
  color: #fff;
  text-align: center;
  margin: auto;
  width: 55%;
}

main .ship img {
  position: absolute;
  top: 65%;
  display: block;
  width: 100px;
}
/*# sourceMappingURL=main.css.map */