@import 'configer';

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Dosis', sans-serif;
}
#bg-img {
    width: 100%;
    height: 50vh;
    background: linear-gradient(
    rgba(0, 0, 0, 0.055),
    rgba(13, 116, 184, 0.034)),
    url(/Img/spaceground.jpg) center no-repeat;
    background-size: cover;
}
header {
    height:  9vh;
    #logo {
       img {
           width: 120px;
           padding: 0;
           margin: .5rem;
       }
    }
}
// Burger icon
.burger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line {
    width: 100%;
    height: 3px;
    background-color:  rgba(42, 53, 63, 0.986);
    transition: ease 0.5s;
    border-radius: 30px;
}
.change .line-1 {
    transform: rotateZ(45deg) translate(6px,8px) ;
}
.change .line-2 {
   opacity: 0;
}
.change .line-3 {
    transform: rotateZ(-405deg) translate(6px,-8px) ;
}

// NavBar with "High" Z-index
.navbar {
    background:#2e436be8;
    height: 100vh;
    top:0;
    width: 50%;
    right: -250px;
    position: fixed;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 5% 0 0 5%;
    transition: right 1s cubic-bezier(0,1,0,0);
    z-index: 2;

}
.change {
    right: 0%;
}
.nav-list {
    text-align: right;
}
.item  {
    list-style: none;
    margin-bottom: 25px;
}
.nav-links {
    text-decoration: none;
    color: #eeeeee;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    right: -50px;
    padding: 3px 0;
}

/**  Before &&  After Effect Lines **/
.nav-links::before,
.nav-links::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color:cyan;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition:  transform 0.5s ease ;
}
.nav-links::after {
    bottom: 0;
    transform-origin: right;
}
.nav-links::before {
    top: 0;
    transform-origin: left;
}
.nav-links:hover::before,
.nav-links:hover::after {
    transform: scaleX(1);
}
// Main Style
main {
    text-align: center;
    position: relative;
    height: 40vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-text{
        margin-top: 5%;

        h1 {
            font-size: 2em;
            font-weight: 500;
            letter-spacing: .5rem;
            text-transform: uppercase;
            color: $primary-color;
        }
        p {
            color: #fff;
            text-align: center;
            margin: auto;
            width: 55%;
        }
    }
    .ship {
       img {
        position: absolute;
        top: 65%;
        display: block;
        width: 100px;
       }
    }
}

// Section style
section.sec-bg {
    background: url(../Img/background-space.png) no-repeat center;
    background-size: cover;
    height: 50vh;

    &.sec-1 {
        position: relative;

        .planet-pink {
            img {
                width: 20%;
                position: absolute;
                display: block;
                top: 5%;
                right: 10%;
                margin-bottom: 2rem;
            }
        }
        .text-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $secondary-color;
            right: 0;
            top: 25%;
            margin: 1rem auto;
            width: 50%;
            height: 50%;
            z-index: 1;

            p {
                color: $third-color;
                margin-bottom: 1rem;
            }
            .btn {
                margin: 0;
            } 
        }
        .man-planet {
            img {
                position: absolute;
                width: 50%;
                top: 25%;
                left: -10%;
                z-index: 0;
            }
        }
    }
} 