@import 'configer';

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}
#bg-img {
    width: 100%;
    height: 50vh;
    background: linear-gradient(
    rgba(0, 0, 0, 0.055),
    rgba(13, 116, 184, 0.034)),
    url(Img/space-background-m.png) center no-repeat;
    background-size: cover;
}
header {
    height:  9vh;
    width: 100%;
    #logo {
       img {
           width: 120px;
           display: block;
           padding-left: 1rem;
           margin: .5rem 0 0 .2rem;
       }
    }
}
// Burger icon
.burger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    right: 5%;
    top: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line {
    width: 100%;
    height: 3px;
    background-color:  $primary-sec-color;
    transition: ease 0.5s;
    border-radius: 30px;
}
.change .line-1 {
    transform: rotateZ(45deg) translate(6px,8px) ;
}
.change .line-2 {
   opacity: 0;
}
.change .line-3 {
    transform: rotateZ(-405deg) translate(6px,-8px) ;
}

// NavBar with "High" Z-index
.navbar {
    background:#2e436be8;
    height: 100vh;
    top:0;
    width: 50%;
    right: -550px;
    position: fixed;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 5% 0 0 5%;
    transition: right 1s cubic-bezier(0,1,0,0);
    z-index: 5;

}
.change {
    right: 0%;
}
.nav-list {
    text-align: right;
}
.item  {
    list-style: none;
    margin-bottom: 25px;
}
.nav-links {
    text-decoration: none;
    color: #eeeeee;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    right: -50px;
    padding: 3px 0;
}

/**  Before &&  After Effect Lines **/
.nav-links::before,
.nav-links::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $primary-color;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition:  transform 0.5s ease ;
}
.nav-links::after {
    bottom: 0;
    transform-origin: right;
}
.nav-links::before {
    top: 0;
    transform-origin: left;
}
.nav-links:hover::before,
.nav-links:hover::after {
    transform: scaleX(1);
}

//Container 

.container {
    width: 100%;
    margin: 0 auto;
}
// Main Style
main {
    text-align: center;
    position: relative;
    height: 40vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-text{
        margin-top: 5%;

        h1 {
            font-size: 2em;
            font-weight: 500;
            letter-spacing: .5rem;
            text-transform: uppercase;
            color: $primary-color;
        }
        p {
            color: #fff;
            text-align: center;
            margin: auto;
            width: 55%;
            text-shadow: 2px 2px 3px #333 ;
        }
        button {
            margin-top: 3rem;
            font-size: 1rem;
            letter-spacing: 1px;
        }
    }
    .ship {

       img {
        position: absolute;
        left: 10%;
        top: 70%;
        display: block;
        width: 110px;
       }
    }
    img {
        &.planet-big {
        display: block;
        position: absolute;
        width: 25%;
        top: 58%;
        right: -15%;
        }
    }
}

// Section style
section.sec-bg {
    background: url(Img/background-space.png) no-repeat center;
    background-size: cover;
    height: 50vh;

    &.sec-1 {
        position: relative;
        height: 50vh;
        .planet-pink {
            img {
                width: 100px;
                position: absolute;
                display: block;
                top: 5%;
                right: 23%;
                margin-bottom: 2rem;
            }
        }
        .text-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            right: 0;
            top: 25%;
            margin: 1rem auto;
            width: 50%;
            height: 50%;
            z-index: 1;

            h2 {
                color: $secondary-color;

            }

            p {
                color: $third-color;
                margin-bottom: 1.5rem;
            }
            .btn {
                margin: 0;
                font-size: 1rem;
                letter-spacing: 1px;

            }
        }
        .man-planet {
            img {
                position: absolute;
                width: 250px;
                top: 25%;
                left: -10%;
                z-index: 1;
            }
        }
    }
}

// Section Two Style 
section.sec-2 {
    position: relative;

    .planet-pink {
        img {
            width: 100px;
            position: absolute;
            display: block;
            top: 5%;
            right: 23%;
            margin-bottom: 2rem;
        }
    }
    .text-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 5%;
        top: 25%;
        margin: 1rem auto;
        width: 50%;
        height: 50%;
        z-index: 1;

        h2 {
            color: $secondary-color;

        }

        p {
            color: $third-color;
            margin-bottom: 1.5rem;
        }
        .btn {
            margin: 0;
            font-size: 1rem;
            letter-spacing: 1px;

        }
    }


    .halo-big {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        .halo {
            width: 250px;
            position: absolute;
            right: -25%;
            z-index: 1;
    
        }
        .ship {
            width: 120px;
            position: absolute;
            top: 25%;
            right: 10%;
        }
    }
}

// Section Three Style 

section.sec-bg.sec-3 {
    position: relative;
    height: 55vh;

    .dark-layer {
        text-align: center;
        margin: 0 auto;
        .dark { 
            display: block;
            width: 100%;
            height: 40vh;
        }
        .earth {
            display: block;
            position: absolute;
            top: 30%;
            right: 10%;
            width: 120px;
        }
        .rockfire {
            display: block;
            position: absolute;
            top: 0;
            width: 100px;
        }
    }
    .text-content2 {
        text-align: center;
        padding: 1rem;
        margin-bottom: 5rem;

        h2 {
            color: $primary-color;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        p {
            color: $third-color;
        }
    }
}

section.sec-4 {
    background: url(Img/background-space.png) no-repeat center;
    background-size: cover;
    position: relative;
    top: 0%;
    margin:0;
    padding:0;
      // Planet part 
      .planets {
        padding: 0;
        margin: 0;

        span {
            display: block;
            width: 40%;
            margin: auto;
            padding: 0;
            color: $marcury-color;
            text-transform: uppercase;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1rem;

            &.mars {
                color: $third-color;
            }
            &.earth {
                color: $primary-color;
            }
            &.star {
                color: $secondary-color;
            }
        }
        .all-planets {
            display: block;
            width: 150px;
            margin:0 auto 1rem auto;
            cursor: pointer;

        }
    }
    // Button Planet
    .two-btn {
        background: url(Img/background-space.png) no-repeat center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20vh;
        .btn {
            display: inline-block;
            font-size: 1rem;
            width: 50%;
            margin: 0 auto;
        }
    }
}
// Section Five 
section.sec-5 {
    #last {
        display: block;
        height: 43vh;
        img {
            width: 100%;
        }
    }
} 
// Footer 
footer {
    width: 100%;
    background: url(Img/background-space.png) no-repeat center;
    background-size: cover;
    height: 60vh;
    position: relative;
    
    #footer-sec {
      
        height: 50vh;
        position: relative;

        img {
            &.dark-back {
                width: 100%;
                position: absolute;
                bottom: -20%;
                height: 50vh;
            }

            &.ship-space {
                position: absolute;
                top: 50%;
                left: 9%;
                width: 150px;

            }
            &.astro-man {
                position: absolute;
                right: 0;
                top: 25%;
                width: 150px;
            }
            &.cloud {
                position: absolute;
                top: 75%;
                left: 4%;
                width: 100px;
                z-index: 1;
                transform: rotate(10deg);
            }
        }
    }
    #footer-text {
        position: absolute;
        display: block;
        left: -50%;
        right: -50%;
        top: 90%;
        margin: auto;
        text-align: center;
        color: $addition-color;
        z-index: 3;
    }
}

// Importing Media utilities At End!!
@import 'mobile';