.btn {
  border: none;
  cursor: pointer;
  outline: none;
  width: 150px;
  border-radius: 10px;
  margin: 0 auto;
  padding: .6rem 1rem;
  font-family: 'Dosis', sans-serif;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.btn a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  letter-spacing: 1px;
}

.btn-blue {
  background: #00ffffb6;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.btn-blue:hover {
  background: #00ffff60;
  color: #00ffffb6;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-blue:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-color {
  color: #00ffffb6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
}

#bg-img {
  width: 100%;
  height: 50vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.055)), to(rgba(13, 116, 184, 0.034))), url(Img/space-background-m.png) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.055), rgba(13, 116, 184, 0.034)), url(Img/space-background-m.png) center no-repeat;
  background-size: cover;
}

header {
  height: 9vh;
  width: 100%;
}

header #logo img {
  width: 120px;
  display: block;
  padding-left: 1rem;
  margin: .5rem 0 0 .2rem;
}

.burger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  right: 5%;
  top: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #00ffff60;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  border-radius: 30px;
}

.change .line-1 {
  -webkit-transform: rotateZ(45deg) translate(6px, 8px);
          transform: rotateZ(45deg) translate(6px, 8px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  -webkit-transform: rotateZ(-405deg) translate(6px, -8px);
          transform: rotateZ(-405deg) translate(6px, -8px);
}

.navbar {
  background: #2e436be8;
  height: 100vh;
  top: 0;
  width: 50%;
  right: -550px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5% 0 0 5%;
  -webkit-transition: right 1s cubic-bezier(0, 1, 0, 0);
  transition: right 1s cubic-bezier(0, 1, 0, 0);
  z-index: 5;
}

.change {
  right: 0%;
}

.nav-list {
  text-align: right;
}

.item {
  list-style: none;
  margin-bottom: 25px;
}

.nav-links {
  text-decoration: none;
  color: #eeeeee;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  right: -50px;
  padding: 3px 0;
}

/**  Before &&  After Effect Lines **/
.nav-links::before,
.nav-links::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00ffffb6;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav-links::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-links::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-links:hover::before,
.nav-links:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container {
  width: 100%;
  margin: 0 auto;
}

main {
  text-align: center;
  position: relative;
  height: 40vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-text {
  margin-top: 5%;
}

main .main-text h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: .5rem;
  text-transform: uppercase;
  color: #00ffffb6;
}

main .main-text p {
  color: #fff;
  text-align: center;
  margin: auto;
  width: 55%;
  text-shadow: 2px 2px 3px #333;
}

main .main-text button {
  margin-top: 3rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

main .ship img {
  position: absolute;
  left: 10%;
  top: 70%;
  display: block;
  width: 110px;
}

main img.planet-big {
  display: block;
  position: absolute;
  width: 25%;
  top: 58%;
  right: -15%;
}

section.sec-bg {
  background: url(Img/background-space.png) no-repeat center;
  background-size: cover;
  height: 50vh;
}

section.sec-bg.sec-1 {
  position: relative;
  height: 50vh;
}

section.sec-bg.sec-1 .planet-pink img {
  width: 100px;
  position: absolute;
  display: block;
  top: 5%;
  right: 23%;
  margin-bottom: 2rem;
}

section.sec-bg.sec-1 .text-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 25%;
  margin: 1rem auto;
  width: 50%;
  height: 50%;
  z-index: 1;
}

section.sec-bg.sec-1 .text-content h2 {
  color: #F05B6F;
}

section.sec-bg.sec-1 .text-content p {
  color: #F7941E;
  margin-bottom: 1.5rem;
}

section.sec-bg.sec-1 .text-content .btn {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

section.sec-bg.sec-1 .man-planet img {
  position: absolute;
  width: 250px;
  top: 25%;
  left: -10%;
  z-index: 1;
}

section.sec-2 {
  position: relative;
}

section.sec-2 .planet-pink img {
  width: 100px;
  position: absolute;
  display: block;
  top: 5%;
  right: 23%;
  margin-bottom: 2rem;
}

section.sec-2 .text-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 5%;
  top: 25%;
  margin: 1rem auto;
  width: 50%;
  height: 50%;
  z-index: 1;
}

section.sec-2 .text-content h2 {
  color: #F05B6F;
}

section.sec-2 .text-content p {
  color: #F7941E;
  margin-bottom: 1.5rem;
}

section.sec-2 .text-content .btn {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

section.sec-2 .halo-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}

section.sec-2 .halo-big .halo {
  width: 250px;
  position: absolute;
  right: -25%;
  z-index: 1;
}

section.sec-2 .halo-big .ship {
  width: 120px;
  position: absolute;
  top: 25%;
  right: 10%;
}

section.sec-bg.sec-3 {
  position: relative;
  height: 55vh;
}

section.sec-bg.sec-3 .dark-layer {
  text-align: center;
  margin: 0 auto;
}

section.sec-bg.sec-3 .dark-layer .dark {
  display: block;
  width: 100%;
  height: 40vh;
}

section.sec-bg.sec-3 .dark-layer .earth {
  display: block;
  position: absolute;
  top: 30%;
  right: 10%;
  width: 120px;
}

section.sec-bg.sec-3 .dark-layer .rockfire {
  display: block;
  position: absolute;
  top: 0;
  width: 100px;
}

section.sec-bg.sec-3 .text-content2 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 5rem;
}

section.sec-bg.sec-3 .text-content2 h2 {
  color: #00ffffb6;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section.sec-bg.sec-3 .text-content2 p {
  color: #F7941E;
}

section.sec-4 {
  background: url(Img/background-space.png) no-repeat center;
  background-size: cover;
  position: relative;
  top: 0%;
  margin: 0;
  padding: 0;
}

section.sec-4 .planets {
  padding: 0;
  margin: 0;
}

section.sec-4 .planets span {
  display: block;
  width: 40%;
  margin: auto;
  padding: 0;
  color: #669999;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

section.sec-4 .planets span.mars {
  color: #F7941E;
}

section.sec-4 .planets span.earth {
  color: #00ffffb6;
}

section.sec-4 .planets span.star {
  color: #F05B6F;
}

section.sec-4 .planets .all-planets {
  display: block;
  width: 150px;
  margin: 0 auto 1rem auto;
  cursor: pointer;
}

section.sec-4 .two-btn {
  background: url(Img/background-space.png) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20vh;
}

section.sec-4 .two-btn .btn {
  display: inline-block;
  font-size: 1rem;
  width: 50%;
  margin: 0 auto;
}

section.sec-5 #last {
  display: block;
  height: 43vh;
}

section.sec-5 #last img {
  width: 100%;
}

footer {
  width: 100%;
  background: url(Img/background-space.png) no-repeat center;
  background-size: cover;
  height: 60vh;
  position: relative;
}

footer #footer-sec {
  height: 50vh;
  position: relative;
}

footer #footer-sec img.dark-back {
  width: 100%;
  position: absolute;
  bottom: -20%;
  height: 50vh;
}

footer #footer-sec img.ship-space {
  position: absolute;
  top: 50%;
  left: 9%;
  width: 150px;
}

footer #footer-sec img.astro-man {
  position: absolute;
  right: 0;
  top: 25%;
  width: 150px;
}

footer #footer-sec img.cloud {
  position: absolute;
  top: 75%;
  left: 4%;
  width: 100px;
  z-index: 1;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

footer #footer-text {
  position: absolute;
  display: block;
  left: -50%;
  right: -50%;
  top: 90%;
  margin: auto;
  text-align: center;
  color: #9B9DA1;
  z-index: 3;
}

@media screen and (max-width: 499px) {
  body {
    overflow-x: hidden;
  }
  #bg-img {
    height: 50vh;
  }
  .burger-menu {
    position: fixed;
    right: 25%;
  }
  .navbar {
    height: 80vh;
    top: 0;
    width: 50%;
    right: -250px;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5% 0 0 5%;
    -webkit-transition: right 1s cubic-bezier(0, 1, 0, 0);
    transition: right 1s cubic-bezier(0, 1, 0, 0);
    z-index: 5;
  }
  .change {
    right: 20%;
  }
  .nav-links {
    right: -40px;
    padding: 3px 0;
  }
  main .main-text button {
    margin-top: 16%;
    font-size: 1.2rem;
  }
  section.sec-bg.sec-1 .text-content .btn {
    width: 90%;
    font-size: 1.2rem;
    font-weight: bold;
  }
  section.sec-bg.sec-1 .planet-pink img {
    top: 3%;
    display: block;
    width: 30%;
  }
  section.sec-bg.sec-1 .man-planet img {
    width: 220px;
  }
  section.sec-2 .halo-big .halo {
    width: 50%;
  }
  section.sec-2 .halo-big .ship {
    width: 25%;
    top: 20%;
    right: 10%;
  }
  section.sec-bg.sec-3 {
    position: relative;
    height: 50vh;
  }
  section.sec-bg.sec-3 .dark-layer {
    text-align: center;
    margin: 0 auto;
  }
  section.sec-bg.sec-3 .dark-layer .dark {
    width: 100%;
    height: 30vh;
  }
  section.sec-bg.sec-3 .dark-layer .earth {
    display: block;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 25%;
  }
  section.sec-bg.sec-3 .dark-layer .rockfire {
    display: block;
    position: absolute;
    top: 0;
    left: 5%;
    width: 18%;
  }
  section.sec-bg.sec-3 .text-content2 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 3rem auto;
  }
  section.sec-bg.sec-3 .text-content2 h2 {
    width: 80%;
    margin: 0 auto;
  }
  section.sec-bg.sec-3 .text-content2 p {
    width: 80%;
    margin: auto;
  }
  section.sec-4 .planets {
    padding-top: 1rem;
  }
  section.sec-4 .planets img.all-planets {
    width: 60%;
    margin-bottom: .5rem;
  }
  section.sec-4 .planets span {
    margin-bottom: 1rem;
  }
  section.sec-4 .two-btn .btn {
    font-size: 1.2rem;
    font-weight: bold;
  }
  section.sec-5 #last {
    display: block;
    height: 0vh;
  }
  section.sec-5 #last img {
    width: 100%;
  }
  footer #footer-sec {
    position: relative;
  }
  footer #footer-sec img.ship-space {
    top: 72%;
    left: 9%;
    width: 30%;
  }
  footer #footer-sec img.astro-man {
    right: 5%;
    top: 40%;
    width: 30%;
  }
  footer #footer-sec img.cloud {
    top: 90%;
    left: 4%;
    width: 20%;
    z-index: 1;
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  footer #footer-text {
    width: 80%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #bg-img {
    height: 75vh;
  }
  header #logo img {
    margin-left: 1rem;
  }
  .navbar {
    width: 35%;
  }
  .change {
    right: 0%;
  }
  main .main-text h1 {
    font-size: 3rem;
    font-weight: bolder;
  }
  main .main-text p {
    font-size: 1.2rem;
  }
  main .main-text button {
    margin-top: 17%;
    font-size: 1.2rem;
  }
  main .ship img {
    width: 200px;
    top: 70%;
    left: 8%;
    cursor: pointer;
    -webkit-transition: ease-in-out 1.5s;
    transition: ease-in-out 1.5s;
  }
  main .ship img:hover {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-transition: ease 1.5s;
    transition: ease 1.5s;
  }
  section.sec-bg.sec-1 .planet-pink img {
    width: 120px;
    right: 270px;
    cursor: pointer;
    -webkit-transition: ease-in-out 1.5s;
    transition: ease-in-out 1.5s;
  }
  section.sec-bg.sec-1 .planet-pink img:hover {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    -webkit-transition: ease 1.5s;
    transition: ease 1.5s;
  }
  section.sec-bg.sec-1 .text-content h2 {
    margin-top: 2.5rem;
    font-size: 2rem;
  }
  section.sec-bg.sec-1 .text-content p {
    font-size: 1.2rem;
    width: 80%;
    margin-bottom: 2rem;
  }
  section.sec-bg.sec-1 .text-content .btn {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  section.sec-bg.sec-1 .man-planet img {
    top: 0;
    width: 300px;
    left: 3%;
  }
  section.sec-2 .halo-big .halo {
    top: 10%;
    right: -10%;
  }
  section.sec-2 .text-content h2 {
    margin-top: 2.5rem;
    font-size: 2rem;
  }
  section.sec-2 .text-content p {
    font-size: 1.2rem;
    width: 80%;
    margin-bottom: 2rem;
  }
  section.sec-2 .text-content .btn {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  section.sec-2 .ship {
    cursor: pointer;
    -webkit-transition: ease-in-out 1.5s;
    transition: ease-in-out 1.5s;
  }
  section.sec-2 .ship:hover {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-transition: ease 1.5s;
    transition: ease 1.5s;
  }
  section.sec-bg.sec-3 {
    height: 70vh;
  }
  section.sec-bg.sec-3 .dark-layer .dark {
    height: 50vh;
  }
  section.sec-bg.sec-3 .dark-layer .earth {
    width: 150px;
    top: 35%;
    right: 15%;
  }
  section.sec-bg.sec-3 .dark-layer .rockfire {
    top: 10%;
    left: 5%;
  }
  section.sec-bg.sec-3 .text-content2 {
    margin: 1rem;
  }
  section.sec-bg.sec-3 .text-content2 h2 {
    font-size: 2.5rem;
  }
  section.sec-bg.sec-3 .text-content2 p {
    font-size: 1.2rem;
  }
  section.sec-4 {
    height: 800px;
  }
  section.sec-4 .planets {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.sec-4 .planets span {
    display: inline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.sec-4 .planets .all-planets {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  section.sec-4 .planets .all-planets:hover {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transition: ease-out 1s;
    transition: ease-out 1s;
    width: 76%;
  }
  section.sec-4 .two-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
    width: 50%;
    height: 50px;
    margin: 3rem auto;
  }
  section.sec-4 .two-btn .btn {
    display: block;
    padding: 0;
    margin-right: .5rem;
    font-size: 1.2rem;
  }
  footer #footer-sec {
    height: 50vh;
  }
  footer #footer-sec img.dark-back {
    width: 100%;
    bottom: -20%;
    height: 70vh;
  }
  footer #footer-sec img.ship-space {
    top: 20%;
    left: 10%;
    width: 250px;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: ease-in-out 1.5s;
    transition: ease-in-out 1.5s;
  }
  footer #footer-sec img.ship-space:hover {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: ease .5s;
    transition: ease .5s;
  }
  footer #footer-sec img.ship-space:active {
    -webkit-transform: translatey(-15px);
            transform: translatey(-15px);
  }
  footer #footer-sec img.astro-man {
    right: 5%;
    top: -10%;
    width: 200px;
    cursor: pointer;
  }
  footer #footer-sec img.cloud {
    top: 65%;
    left: 7%;
    width: 130px;
    z-index: 1;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@media screen and (min-width: 1171px) {
  #bg-img {
    height: 110vh;
  }
  header #logo img {
    margin-left: 2rem;
  }
  .navbar {
    width: 25%;
  }
  .change {
    right: 0%;
  }
  .nav-links {
    right: -80px;
  }
  main .main-text {
    margin-top: 10%;
  }
  main .main-text h1 {
    font-size: 4.2rem;
    font-weight: bolder;
    letter-spacing: .8rem;
  }
  main .main-text p {
    font-size: 1.4rem;
  }
  main .main-text button {
    margin-top: 12rem;
    font-size: 1.4rem;
  }
  main .ship img {
    width: 250px;
    top: 70%;
    left: 10%;
    cursor: pointer;
    -webkit-transition: ease-in-out 1.5s;
    transition: ease-in-out 1.5s;
  }
  main .ship img:hover {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-transition: ease 1.5s;
    transition: ease 1.5s;
  }
  section.sec-bg.sec-1 .planet-pink img {
    width: 220px;
    right: 18%;
    cursor: pointer;
    -webkit-transition: ease-in-out 1.5s;
    transition: ease-in-out 1.5s;
  }
  section.sec-bg.sec-1 .planet-pink img:hover {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    -webkit-transition: ease 1.5s;
    transition: ease 1.5s;
  }
  section.sec-bg.sec-1 .text-content {
    margin-top: 10%;
    text-align: center;
  }
  section.sec-bg.sec-1 .text-content h2 {
    margin-top: 2.5rem;
    font-size: 2.5rem;
  }
  section.sec-bg.sec-1 .text-content p {
    text-align: center;
    font-size: 1.3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  section.sec-bg.sec-1 .text-content .btn {
    margin: 0;
    font-size: 1.3rem;
    width: 35%;
    letter-spacing: 2px;
    padding: 1rem 2rem;
  }
  section.sec-bg.sec-1 .man-planet img {
    width: 450px;
    top: 0;
    left: 10%;
    cursor: pointer;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
  }
  section.sec-bg.sec-1 .man-planet img:hover {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
  }
  section.sec-2 {
    height: 90vh;
  }
  section.sec-2 .halo-big .halo {
    top: 5%;
    width: 30%;
    right: -18%;
  }
  section.sec-2 .halo-big .ship {
    cursor: pointer;
    width: 150px;
    top: 40%;
    right: 5%;
    -webkit-transition: ease-in-out 1.5s;
    transition: ease-in-out 1.5s;
  }
  section.sec-2 .halo-big .ship:hover {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-transition: ease 1.5s;
    transition: ease 1.5s;
  }
  section.sec-2 .text-content {
    margin-top: 10%;
    text-align: center;
  }
  section.sec-2 .text-content h2 {
    margin-top: 2.5rem;
    font-size: 2.5rem;
  }
  section.sec-2 .text-content p {
    text-align: center;
    font-size: 1.3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  section.sec-2 .text-content .btn {
    margin: 0;
    font-size: 1.3rem;
    width: 35%;
    letter-spacing: 2px;
    padding: 1rem 2rem;
  }
  section.sec-bg.sec-3 {
    height: 80vh;
  }
  section.sec-bg.sec-3 .dark-layer .dark {
    height: 60vh;
    z-index: 2;
  }
  section.sec-bg.sec-3 .dark-layer .earth {
    width: 200px;
    top: 35%;
    right: 15%;
  }
  section.sec-bg.sec-3 .dark-layer .rockfire {
    top: 10%;
    left: 5%;
  }
  section.sec-bg.sec-3 .text-content2 {
    margin: 1rem;
  }
  section.sec-bg.sec-3 .text-content2 h2 {
    font-size: 3rem;
  }
  section.sec-bg.sec-3 .text-content2 p {
    font-size: 1.3rem;
  }
  section.sec-4 {
    height: 800px;
  }
  section.sec-4 .planets {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.sec-4 .planets span {
    display: inline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.sec-4 .planets .all-planets {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  section.sec-4 .planets .all-planets:hover {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transition: ease-out 1s;
    transition: ease-out 1s;
    width: 60%;
  }
  section.sec-4 .two-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    width: 40%;
    height: 50px;
    margin: 3rem auto;
  }
  section.sec-4 .two-btn .btn {
    display: block;
    width: 50%;
    font-size: 1.3rem;
    letter-spacing: 3px;
    margin: 0 .5rem;
  }
  section.sec-5 {
    border: solid;
    display: none;
    height: 50vh;
  }
  footer {
    height: 50vh;
  }
  footer #footer-sec {
    height: 50vh;
  }
  footer #footer-sec img.dark-back {
    width: 100%;
    bottom: -20%;
    height: 70vh;
  }
  footer #footer-sec img.ship-space {
    top: 25%;
    left: 9%;
    width: 250px;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: ease-in-out 1.5s;
    transition: ease-in-out 1.5s;
  }
  footer #footer-sec img.ship-space:hover {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: ease .5s;
    transition: ease .5s;
  }
  footer #footer-sec img.ship-space:active {
    -webkit-transform: translatey(-15px);
            transform: translatey(-15px);
  }
  footer #footer-sec img.astro-man {
    right: 5%;
    top: -10%;
    width: 200px;
    cursor: pointer;
  }
  footer #footer-sec img.cloud {
    top: 70%;
    left: 7%;
    width: 130px;
    z-index: 1;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  footer #footer-text {
    top: 100%;
    margin-top: 2%;
  }
}
/*# sourceMappingURL=main.css.map */